body
{
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	background-color: rgb(233,233,233);
}

.title
{
	font-size: 30px;
	font-weight: 600;
	color: white;
	background-color: rgb(19,19,56);
	width: 100%;
	padding: 20px;
	text-align: center;
}

.full_body
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.form-input
{
	border:none;
	outline: none;
	background-color: white;	
	padding: 10px 20px;
	border: 1px solid grey;
	margin-right: 20px;
}

.form-input:focus
{
	background-color: white;
}

.search
{
	border:none;
	outline: none;
	padding: 10px 20px;
	background-color: rgb(19,19,56);
	color: white;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.search-box
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 100px;
}

#result
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.card
{
	display: flex;
	align-items: center;
	color: white;
	background-color: rgb(24,51,59);
	margin: 20px;
	padding: 50px;
	width: 700px;
}

.value
{
	font-size: 15px;
	margin: 0px 50px;
}

table
{
	text-align: center;
	border-spacing: 30px;
}